<!DOCTYPE html>
<html lang="en">
<head>
    <title>Where will plants migrate</title>
    <meta charset="utf-8" />
    <link 
        rel="stylesheet" 
        href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"
    />
    <!-- custom styles -->
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!-- Theme style -->
        <link href="css/style.css" rel="stylesheet" type="text/css" />
	 <link href="css/angular.rangeSlider.css" rel="stylesheet">

</head>
<body ng-app="MapViz">
<div id="header"> 
	<h1 style="color: #ffffff; margin-left:40px;"> Hardiness Map Projections For Years 2041, 2070, and 2099 </h1>
</div>
    <div ng-controller="MapController">
    <div id="map" style="width:100%; height:100%; position:fixed; left:0;top:0;overflow:hidden;"></div>
    <input id='swiper' class='range' type='range' min='0' max='1.0' step='any' />
    	<!-- Control Box -->
	    <div class="map-control-box">
		<div ng-controller="UIController">
                        <h4>Select Hardiness Year:</h4>
<div class="selection" style="margin-left:15px">
<select id='slider'>
    <option value='2012'>2012</option>
    <option value='2041'>2041</option>
    <option value='2070'>2070</option>
    <option value='2099'>2099</option>
</select>
</div>
</div>
	    </div><!-- /.box --> 
<div class="rightMapYear">2012</div>
<div class="leftMapYear">2012</div>
<div class='plants-filter-box'>
<div class='legend-title'>
<div style="padding: 5px 5px 5px 5px">
<p>Type Plant Name or Hardiness Zone:   
<br />
<input ng-model="query[queryBy]" value="{{zone}}" ></input>
</p>
<table>
<tr>
                <th style="width:120px;">Plant Name</th>
                <th>Hardiness</th>
            </tr>

</table>
</div>
</div>
<div style="display: block; margin-top: 80px; border-style: inset; border-width: 1px;"></div>
    <div style="position:relative;">
	<table>
	    <tr ng-repeat="plant in plants | filter:query | limitTo: 25" style="width:150px">
      		<td style="width:160px padding: 0px 0px 0px 5px">{{plant.name}}</td>
		<td>{{plant.hardiness}}</td>
		<td><a href="{{'http://www.garden.org/plantfinder/index.php?q=view&id='+plant.id}}" target="_blank">Source</a></td>
	    </tr>
	</table>
    </div>




	</div>	
	</div>

<div class='my-legend'>
<div class='legend-title'>Avg. Annual Extreme Minimum Temperature, °F</div>
<span class="tab">3a</span>
<span class="tab">3b</span>
<span class="tab">4a</span>
<span class="tab">4b</span>
<span class="tab">5a</span>
<span class="tab">5b</span>
<span class="tab">6a</span>
<span class="tab">6b</span>
<span class="tab">7a</span>
<span class="tab">7b</span>
<span class="tab">8a</span>
<span class="tab">8b</span>
<span class="tab">9a</span>
<span class="tab">9b</span>
<span class="tab">10a</span>
<span class="tab">10b</span>
<div class='legend-scale'>
  <ul class='legend-labels'>
    <li><span style='background:#d096be'></span>-40 to -35</li>
    <li><span style='background:#ba99d2'></span>-35 to -30</li>
    <li><span style='background:#969fe2;'></span>-30 to -25</li>
    <li><span style='background:#00ade3;'></span>-25 to -20</li>
    <li><span style='background:#00b2b0;'></span>-20 to -15</li>
    <li><span style='background:#00b088;'></span>-15 to -10</li>
    <li><span style='background:#41ab5d;'></span>-10 to -5</li>
    <li><span style='background:#78c679;'></span>-5 to 0</li>
    <li><span style='background:#addd8e;'></span>0 to 5</li>
    <li><span style='background:#ffffe5;'></span>5 to 10</li>
    <li><span style='background:#fff7bc;'></span>10 to 15</li>
    <li><span style='background:#ffeda0;'></span>15 to 20</li>
    <li><span style='background:#fdae6b;'></span>20 to 25</li>
    <li><span style='background:#f16913;'></span>25 to 30</li>
    <li><span style='background:#d94801;'></span>30 to 35</li>
    <li><span style='background:#a63603;'></span>35 to 40</li>
  </ul>
</div>
<div class='legend-source'>Source: <a href="https://cds.nccs.nasa.gov/nex/">NASA Earth Exchange (NEX) Downscaled Climate Projections (NEX-DCP30)</a>, <a href="http://planthardiness.ars.usda.gov/PHZMWeb/">USDA Plant Hardiness Zone Map</a>, and <a href="http://www.garden.org/plantfinder/">National Gardening Association PlantFinder</a></div>
    </style>

</div>

<div class="help-box">
<h4>Introduction</h4>
<p>Single Page Hardiness Map Viewer for the US.</p>
<p>Use the slider to choose between hardiness map projections for 2041, 2070, 2099.</p>
<p>Type plant name or hardiness zone to find it.</p>
<h4>Datasets</h4>
<a href="https://cds.nccs.nasa.gov/nex/">NASA Earth Exchange (NEX) Downscaled Climate Projections (NEX-DCP30)</a>, <a href="http://planthardiness.ars.usda.gov/PHZMWeb/">USDA Plant Hardiness Zone Map</a>, and <a href="http://www.garden.org/plantfinder/">National Gardening Association PlantFinder</a>


</div>

</div>
</body>
        <!-- Angular -->
        <!-- we need jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
    <!-- and Angular, of course -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script>
    <!-- and out directive code -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
        <!-- ANGULAR CUSTOM -->
    <script src="js/angular/angular.rangeSlider.js"></script>
    <script src="js/angular/angular-leaflet-directive.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="js/angular/leaflet.utfgrid.js"></script>
    <script src="js/controllers/app.js"></script>
    <script src="js/controllers/swipe.js"></script>
</body>
</html>
