<!DOCTYPE html>
<html>
<head>
	<title>Swipe vector layers in Leaflet</title>

	<link rel="stylesheet" href="http://leaflet-cdn.s3.amazonaws.com/build/master/leaflet.css" />
	<script src="http://leaflet-cdn.s3.amazonaws.com/build/master/leaflet.js"></script>

	<style>
		#map {
			position: absolute;
			top: 20px;
			left: 0;
			right: 0;
			bottom: 0;
		}
		#range {
			width: 100%;
		}
	</style>
</head>
<body>

	<div id="map"></div>
	<input id="range" type="range" min="0" max="1.0" step="any" />

	<script type="text/javascript" src="http://leafletjs.com/examples/us-states.js"></script>
	<script type="text/javascript">

		var map = L.map('map').setView([37.8, -96], 4);

		L.tileLayer('http://{s}.tiles.mapbox.com/v3/examples.map-20v6611k/{z}/{x}/{y}.png', {
			attribution: '<a href="https://www.mapbox.com/about/maps/">Terms &amp; Feedback</a>'
		}).addTo(map);

		map.attributionControl.addAttribution('Population data &copy; <a href="http://census.gov/">US Census Bureau</a>');


		// get color depending on population density value
		function getColor(d) {
			return d > 1000 ? '#800026' :
				   d > 500  ? '#BD0026' :
				   d > 200  ? '#E31A1C' :
				   d > 100  ? '#FC4E2A' :
				   d > 50   ? '#FD8D3C' :
				   d > 20   ? '#FEB24C' :
				   d > 10   ? '#FED976' :
							  '#FFEDA0';
		}

		var defaultStyle = {
			weight: 2,
			opacity: 1,
			color: 'white',
			dashArray: '3',
			fillOpacity: 1
		};

		function style(feature) {
			return L.extend({}, defaultStyle, {
				fillColor: getColor(feature.properties.density)
			});
		}

		function style2(feature) {
			var c = getColor(feature.properties.density);
			return L.extend({}, defaultStyle, {
				fillColor: '#' + c.substr(5, 2) + c.substr(3, 2) + c.substr (1, 2),
				dashArray: null
			});
		}

		function highlightFeature(e) {
			e.layer.setStyle({
				weight: 5,
				color: 'yellow',
				dashArray: ''
			});

			if (!L.Browser.ie) {
				e.layer.bringToFront();
			}
		}

		function resetHighlight(e) {
			e.target.resetStyle(e.layer);
		}

		var events = {
			mouseover: highlightFeature,
			mouseout: resetHighlight
		};


		var panes = map.getPanes(),
			pane = panes.altPane = L.DomUtil.create('div', 'leaflet-overlay-pane'),
			svg = L.svg({pane: 'altPane'});
		console.log(panes)
		console.log(panes.markerPane)
		panes.mapPane.insertBefore(pane, panes.markerPane);

		var geojson = L.geoJson(statesData, {style: style}).on(events).addTo(map);
		var geojson2 = L.geoJson(statesData, {style: style2, renderer: svg}).on(events).addTo(map);


			var range = document.getElementById('range');

		function clip() {
			var nw = map.containerPointToLayerPoint([0, 0]),
				se = map.containerPointToLayerPoint(map.getSize()),
				clipX = nw.x + (se.x - nw.x) * range.value;

			panes.overlayPane.style.clip = 'rect(' + [nw.y, se.x, se.y, clipX].join('px,') + 'px)';
			pane.style.clip              = 'rect(' + [nw.y, clipX, se.y, nw.x].join('px,') + 'px)';
		}

		range['oninput' in range ? 'oninput' : 'onchange'] = clip;
		map.on('move', clip, svg);
		clip();

	</script>
</body>
</html>
